@model Coinify.Web.Models.Coin

@{
    ViewData["Title"] = "Create";
}

<h2>Create Coin</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Coin</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Value" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Size" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Size" asp-items="ViewBag.CoinSizes" class="form-control"></select>
                <span asp-validation-for="Size" class="text-danger"></span>
                <a asp-controller="CoinSizes" asp-action="Create" >Create New Coin Size</a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
