@model IEnumerable<Coinify.Web.Models.ViewModels.ReportLeastUsedMoneyViewModel>
@{
    ViewData["Title"] = "ReportMostUsedMoney";
}

<h2>Report Least Used Money</h2>

@foreach (var item in Model)
{
    <div>
        <p>Data for ATM @item.AtmAlias</p>
        <p><a asp-action="ReportWithdrawByAtm" asp-route-id="@item.AtmId">Withdraw Reports</a></p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Money info
                    </th>

                    <th>
                        Times withdrawn
                    </th>
                    <th>
                        Total value withdrawn
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var data in item.Report)
                {
                    <tr>
                        <td>
                            @Coinify.Web.Helpers.ReportHelper.PrintFormattedMoney(data.Key)
                        </td>
                        <td>
                            @data.Value.ToString()
                        </td>
                        <td>
                            $@(data.Key.Value * data.Value)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <hr />
}

